<?xml version="1.0" ?>
<robot name="spatula">
  <link name="spatula__spatula">
    <inertial>
      <mass value="0.068"/>
      <origin xyz="0      0.11564 0.04447" rpy="0 0 0"/>
      <inertia ixx="0.21095403274864072" ixy="-4.264472553729218e-08" ixz="0.0" iyy="0.03710803288660893" iyz="-0.06982169738550205" izz="0.18858265237650276"/>
    </inertial>
    <collision name="spatula__spatula_handle_collision">
      <origin xyz="0    0.135 0.052" rpy="2 0 0"/>
      <geometry>
        <cylinder radius="0.015" length="0.11"/>
      </geometry>
    </collision>
    <visual name="spatula__spatula_connector_visual">
      <origin xyz="0     0.0675 0.015" rpy="-0.94  0    0"/>
      <geometry>
        <cylinder radius="0.002" length="0.048"/>
      </geometry>
    </visual>
    <visual name="spatula__spatula_bottom_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.1 0.001"/>
      </geometry>
    </visual>
    <visual name="spatula__spatula_handle_visual">
      <origin xyz="0    0.135 0.052" rpy="2 0 0"/>
      <geometry>
        <cylinder radius="0.015" length="0.11"/>
      </geometry>
    </visual>
  </link>
</robot>
